@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import "tailwindcss";

:root {
  --bs-font-pro-display: "SF Pro Display", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-playfair-display: "Playfair Display", Georgia, "Times New Roman",
    serif;
  --bs-font-sf-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

Link {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::-webkit-input-placeholder {
  font: inherit;
}

input::-moz-placeholder {
  font: inherit;
}

input:-ms-input-placeholder {
  font: inherit;
}

input::-ms-input-placeholder {
  font: inherit;
}

input::placeholder {
  font: inherit;
}

body {
  margin: 0;
  font-family: var(--bs-font-pro-display);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.font-pro-display {
  font-family: var(--bs-font-pro-display);
}

.font-playfair-display {
  font-family: var(--bs-font-playfair-display);
}

.font-sf-mono {
  font-family: var(--bs-font-sf-mono);
}

.text-gradient-gold {
  background: linear-gradient(263.22deg, #b18325 27.14%, #d7bf75 83.57%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.container {
  @apply w-full px-3 mx-auto sm:max-w-135 md:max-w-180 lg:max-w-240 xl:max-w-285 2xl:max-w-330;
}
